<div class="row">
    <div class="col-lg-3">
        <div class="row">
        <img src="~/img/clientes.png" width="200" height="200">
        </div>
        <a href="../Cliente/Index">Cadastro de Clientes</a>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/vendedores.png" width="200" height="200">
        </div>
        <a href="../Vendedor/Index"><span>Cadastro de Vendedores</span></a>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/produtos.png" width="200" height="200">
        </div>
        <a href="../Produto/Index"><span>Cadastro de Produtos</span></a>
    </div>

    
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="row">
        <img src="~/img/vendas.png" width="200" height="200">
                            
         </div>  
        <a href="../Venda/Registrar"><span>Registro de Vendas</span></a>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/relatorios.png" width="200" height="200">
        </div>
        <span>Relatórios</span>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/configuracoes.png " width="200" height="200">
        </div>
        <span>Configurações</span>
    </div>

    
</div>