<div class="row">
    <div class="col-lg-3">
        <div class="row">
        <img src="~/img/clientes.png" width="200" height="200">
        </div>
      <a href="/Clientes/Index"><span>Cadastro de Cliente</span></a>  
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/vendedores.png" width="200" height="200">
        </div>
        <span>Cadastro de Vendedores</span>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/produtos.png" width="200" height="200">
        </div>
        <span>Cadastro de Produtos</span>
    </div>

    
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="row">
        <img src="~/img/vendas.png" width="200" height="200">
        </div>
        <span>Registro de Vendas</span>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/relatorios.png" width="200" height="200">
        </div>
        <span>Relatórios</span>
    </div>

      <div class="col-lg-3">
        <div class="row">
        <img src="~/img/configuracoes.png" width="200" height="200">
        </div>
        <span>Configurações</span>
    </div>

    
</div>