<h2>Cliente excluido com sucesso!</h2>

<button type="button" class="btn btn-success" onclick="Voltar">Listagem de Clientes</button>


<script>



    function Voltar(){
        window.location.href="../../Cliente/Index"
    }
</script>
