<h2>Vendedor excluido com sucesso!</h2>

<button type="button" class="btn btn-success" onclick="Voltar">Listagem de Vendedor</button>


<script>



    function Voltar(){
        window.location.href="../../Vendedor/Index"
    }
</script>
