<h2>Excluir Vendedor?</h2>

<h3>Deseja realmente excluir Vendedor selecionado?</h3>

<button type="button" class="btn btn-success" onclick="Sim()">Sim</button>
<button type="button" class="btn btn-success" onclick="Nao">Nao</button>


<script>

    function Sim(){
        window.location.href="../../Vendedor/ExcluirVendedor" + '@ViewData["IdExcluir"].ToString()';
    }

    function Nao(){
        window.location.href="../../Vendedor/Index"
    }
</script>

